div[data-flex-ui-areaswitcher="Container"]{
    display :block;
    position:absolute;
    width   :100%;
    height  :100%;
    overflow:hidden;
}
/*=======================================================================================*/
div[data-flex-ui-areaswitcher="Item"]{
    display :block;
    position:absolute;
    width   :100%;
    height  :100%;
    overflow:hidden;
}
/*=======================================================================================*/
/*=======================================================================================*/
/*=======================================================================================*/
/*=======================================================================================*/
