html{
    margin      :0;
    padding     :0;
}
body {
    margin              :0;
    padding             :0;
    background          :rgb(74, 74, 74);
    opacity             : 0;
    -moz-transition     : opacity ease-in-out 350ms;
    -o-transition       : opacity ease-in-out 350ms;
    -webkit-transition  : opacity ease-in-out 350ms;
    transition          : opacity ease-in-out 350ms;
}
body *{
    font-family :'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
}
/*======================================================================================================*/
.page-content h1, h2, h3, p{
    padding     : 0 1.5rem;
    font-weight :normal;
}
h1, h2, h3{
    font-weight:normal;
}
h1 {
    text-transform:uppercase;
}
span.code-inline,
td.code-inline{
    color       :rgb(47, 130, 23);
    font-weight :bold;
}
td[colspan]{
    font-weight:bold;
}
td p{
    padding:0;
    margin:0;
}
ul{
    padding: 0.5rem 1.5rem 0.5rem 2.5rem;
}
div.scheme{
    position:relative;
    width:100%;
    text-align:center;
}
div.scheme img{
    max-height  : 30rem;
    max-width   :90%;
}
/*======================================================================================================*/
table{
    position:relative;
    margin:1rem 1.5rem;
    text-align:left;
}
td, th{
    padding: 0.5rem 0.5rem;
    border-bottom:1px dotted rgb(100,100,100);
}
/*======================================================================================================*/
.link{
    display         :inline-block;
    text-decoration :none;
    border-bottom   :1px dotted rgba(0,0,0,0);
    cursor          :pointer;
    color           : black;
}
    .link:hover{
        text-decoration :none;
        border-bottom   :1px dotted black;
    }
/*======================================================================================================*/
/*======================================================================================================*/
/*======================================================================================================*/
/*======================================================================================================*/
/*======================================================================================================*/
/*======================================================================================================*/
/*======================================================================================================*/
/*======================================================================================================*/
/*======================================================================================================*/
/*======================================================================================================*/
