a[data-type="Buttons.Flat"]{
    display         :inline-block;
    position        :relative;
    font-size       :1rem;
    font-family     :'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    padding         :0.5rem 1rem;
    margin          :0 0.5rem;
    color           :rgb(30,30,30);
    background      :rgb(230,230,230);
    text-decoration :none;
    cursor          :pointer;
}
a[data-type="Buttons.Flat"]:hover{
    color       :rgb(250,250,250);
    background  :rgb(30,30,30);
}
